<div class="container">
    <header>
        <h1>Mega-Sena Sorteador</h1>
    </header>
    <main>
        <p>
        O objetivo desta aplicação em TypeScript é facilitar o processo de sorteio de números para o jogo da Mega-Sena,
        uma loteria muito popular no Brasil. Os jogadores devem escolher 6 números de um conjunto de 60 possíveis,
        e esta aplicação permite que eles cliquem em um botão para gerar automaticamente os 6 números aleatórios,
        correspondentes aos números escolhidos.
        </p>
        <p>
        A aplicação possui uma interface amigável, e ao clicar no botão "Sortear Números", os números serão gerados
        de forma rápida e simples, proporcionando aos jogadores uma maneira prática e divertida de obter seus números
        da sorte para participar do sorteio da Mega-Sena.
        </p>
    </main>
</div>
